<div class="container py-4 text-primary-color">
  <h1 class="text-uppercase h1-size text-center pt-2 pb-5 text-secondary-color">
    ultimate ai
  </h1>
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xxl-4">
      <div class="card bg-primary-color p-3">
        <!-- <h2 class="h2-size text-center py-2"></h2> -->
        <h3 class="card-header p-4 rounded h4-size text-center">
          Welcome to AI world
        </h3>

        <div class="card-body mt-4">
          <app-login *ngIf="currentView == VIEWS.login"></app-login>
          <app-register *ngIf="currentView == VIEWS.register"></app-register>
          <app-reset-password-request
            *ngIf="currentView == VIEWS.resetPasswordRequest"
          ></app-reset-password-request>
          <app-reset-password
            *ngIf="currentView == VIEWS.resetPassword"
          ></app-reset-password>

          <div class="d-flex justify-content-between mt-4">
            <button
              *ngIf="currentView !== VIEWS.login"
              type="button"
              class="btn btn-link custom-link-color"
              (click)="setView(VIEWS.login)"
            >
              Back to Login
            </button>
            <button
              *ngIf="
                currentView !== VIEWS.register &&
                currentView !== VIEWS.resetPassword
              "
              type="button"
              class="btn btn-link custom-link-color"
              (click)="setView(VIEWS.register)"
            >
              Register
            </button>
            <button
              *ngIf="currentView === VIEWS.login"
              type="button"
              class="btn btn-link custom-link-color"
              (click)="setView(VIEWS.resetPasswordRequest)"
            >
              Forgot Password
            </button>
          </div>
        </div>
        <div class="card-footer text-center mt-4">Copyright</div>
      </div>
    </div>
  </div>
</div>
