/* Define variables for colors */
/* :host {
    --background-color: #FFFFFF;
    --text-color: #333333;
  } */
.toggle-theme {
  background-color: var(--btn-bg-color-active);
  color: var(--btn-text-color-active);
}

/* your styles for the dark mode here */
/* Override the variables for dark mode */
/* .dark-mode {
  --background-color: #333333;
  --text-color: #ffffff;
  background-color: var(--background-color);
  color: var(--text-color);
} */
