:host {
    /* Define variables for colors */
    --background-color: #FFFFFF;
    --text-color: #333333;
  }
  
  .container {
    /* your existing styles for the light mode here */
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .dark-mode {
    /* Override the variables for dark mode */
    --background-color: #333333;
    --text-color: #FFFFFF;
  
    /* your styles for the dark mode here */
    background-color: var(--background-color);
    color: var(--text-color);
  }

  .dark-mode .card{
    background-color: var(--background-color);
    color: var(--text-color);
  }