<div class="container py-4 text-primary-color">
  <h1 class="text-uppercase h1-size text-center pt-2 pb-5 text-secondary-color">
    ultimate ai
  </h1>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-primary-color p-3">
        <h2 class="h2-size text-center py-2">Welcome to AI world</h2>
        <h3 class="card-header rounded h4-size text-center">
          {{
            currentView == VIEWS.register
              ? "Register"
              : currentView == VIEWS.login
              ? "Login"
              : "Reset Password"
          }}
        </h3>

        <div class="card-body">
          <form
            *ngIf="currentView == VIEWS.login"
            (ngSubmit)="login()"
            #loginForm="ngForm"
          >
            <div class="form-group pb-2">
              <label for="email" class="py-1">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                [(ngModel)]="loginData.email"
                required
              />
            </div>

            <div class="form-group pb-2">
              <label for="password" class="py-1">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                [(ngModel)]="loginData.password"
                required
              />
            </div>

            <button type="submit" class="btn custom-btn w-100 mt-3">
              Login
            </button>
            <div class="d-flex justify-content-between">
              <button
                type="button"
                class="btn btn-link"
                (click)="setView(VIEWS.register)"
              >
                Register
              </button>
              <button
                type="button"
                class="btn btn-link"
                (click)="setView(VIEWS.forgotPassword)"
              >
                Forgot Password
              </button>
            </div>
          </form>

          <form
            *ngIf="currentView === VIEWS.register"
            (ngSubmit)="register()"
            #registerForm="ngForm"
          >
            <div class="form-group pb-2">
              <label for="name" class="py-1">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                [(ngModel)]="registerData.name"
                required
              />
            </div>

            <div class="form-group pb-2">
              <label for="email" class="py-1">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                [(ngModel)]="registerData.email"
                required
              />
            </div>

            <div class="form-group pb-2">
              <label for="password" class="py-1">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                [(ngModel)]="registerData.password"
                required
              />
            </div>

            <div class="form-group pb-2">
              <label for="password_confirmation" class="py-1"
                >Confirm Password</label
              >
              <input
                type="password"
                class="form-control"
                id="password_confirmation"
                name="password_confirmation"
                [(ngModel)]="registerData.password_confirmation"
                required
              />
            </div>

            <button type="submit" class="btn custom-btn w-100 mt-3">
              Register
            </button>
            <div class="d-flex justify-content-between">
              <button
                type="button"
                class="btn btn-link"
                (click)="setView(VIEWS.login)"
              >
                Back to Login
              </button>
              <button
                type="button"
                class="btn btn-link"
                (click)="setView(VIEWS.forgotPassword)"
              >
                Forgot Password
              </button>
            </div>
          </form>
          <form
            *ngIf="currentView == VIEWS.forgotPassword"
            (ngSubmit)="resetPassword()"
            #forgotPassword="ngForm"
          >
            <div class="form-group pb-2">
              <label for="email" class="py-1">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                [(ngModel)]="email"
                required
              />
            </div>

            <button type="submit" class="btn custom-btn w-100 mt-3">
              Reset Password
            </button>
            <div class="d-flex justify-content-between">
              <button
                type="button"
                class="btn btn-link"
                (click)="setView(VIEWS.register)"
              >
                Register
              </button>
              <button
                type="button"
                class="btn btn-link"
                (click)="setView(VIEWS.login)"
              >
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
