<form (ngSubmit)="resetPasswordRequest()" #forgotPassword="ngForm">
  <h3 class="h2-size text-center">Reset Password</h3>

  <p
    *ngIf="resetPasswordData.info"
    class="info-bg-color rounded mt-3 p-3 text-center"
  >
    {{ resetPasswordData.info }}
  </p>
  <div class="form-group pb-2">
    <label for="email" class="py-1">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      [(ngModel)]="resetPasswordData.email"
      required
    />
  </div>

  <p class="text-danger" *ngIf="resetPasswordData.error">
    {{ resetPasswordData.error }}
  </p>

  <button type="submit" class="btn custom-btn w-100 mt-3">
    Reset Password
  </button>
  <!-- <div class="d-flex justify-content-between mt-4">
    <button
      type="button"
      class="btn btn-link custom-link-color"
      (click)="setView(VIEWS.register)"
    >
      Register
    </button>
    <button
      type="button"
      class="btn btn-link custom-link-color"
      (click)="setView(VIEWS.login)"
    >
      Login
    </button>
  </div> -->
</form>
