<form (ngSubmit)="resetPasswordRequest()" #forgotPassword="ngForm">
  <h3 class="h2-size text-center">Reset Password</h3>

  <p
    *ngIf="resetPasswordData.info"
    class="info-bg-color rounded mt-3 p-3 text-center"
  >
    {{ resetPasswordData.info }}
  </p>
  <div class="form-group pb-2">
    <label for="email" class="py-1">Email*</label>
    <input
      pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Email"
      [(ngModel)]="resetPasswordData.email"
      (ngModelChange)="removeError()"
      required
      #emailControl="ngModel"
      [ngClass]="{
        'is-invalid':
          (submitted && emailControl.errors) ||
          (emailControl.touched && emailControl.errors)
      }"
    />
    <span
      class="text-danger help-block d-block mt-1"
      *ngIf=" emailControl.touched && emailControl.errors?.['required']   "
    >
      This field is required
    </span>
    <span
      class="text-danger help-block d-block mt-1"
      *ngIf=" emailControl.touched && emailControl.errors?.['pattern'] "
    >
      Email is not valid
    </span>
  </div>

  <p class="text-danger text-center" *ngIf="resetPasswordData.error">
    {{ resetPasswordData.error }}
  </p>

  <button type="submit" class="custom-btn w-100 mt-3">Reset Password</button>
</form>
