<div class="ai-chat bg-primary-color">
  <div class="row g-0 justify-content-center">
    <div class="chat-box col-md-10">
      <div class="card mt-4">
        <div class="card-body">
<!--test-->
 
          <app-information *ngIf="newConversation"></app-information>
    

 <!--test-->
          <div class="chat-container" #chatContainer *ngIf="!newConversation">
            <div 
              *ngFor="let message of this.conversationTree.conversation; let i = index"
              class="message"
              [attr.id]="'message-' + i"
            >
              <!--test-->

              <div class="bd-example">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="#">Toolbar 4</a>
                    <button
                      class="navbar-toggler"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#navbarColor01"
                      aria-controls="navbarColor01"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                    >
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarColor01">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <div class="nav-link" href="#" (click)="SaveQuestionAndAnswer(message,i)">Save</div>
                        </li>
                      </ul>
                      <!--<form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>-->
                    </div>
                  </div>
                </nav>

                <!--<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Navbar</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                      </li>
                    </ul>
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav> -->
              </div>

              <!--test-->
              <div class="message-header">
                <strong>{{ userName }}</strong>
              </div>
              <div class="message-body">{{ message.question.text }}</div>
              <div class="message-header">
                <strong>{{  AIname }}</strong>
              </div>
              <div *ngFor=" let answer of message.answers; let i = index">
              <div class="message-body">{{ answer.text }}</div>
            </div>
            </div>
          </div>

          <div class="advanced-tools" id="advanced-tools"></div>
        </div>
        <div class="submit-sticky" #submitContainer>
          <!--test-->
          <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand">Toolbar 5</a>
              <form class="d-flex">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-outline-light" type="submit">
                  Search
                </button>
              </form>
            </div>
          </nav>
          <!--test-->
          <div class="alert alert-danger" [hidden]="!showError">{{errorMessage}}</div>

          <form class="form-inline mt-4" (ngSubmit)="onSubmit()">
            <div class="form-group mr-2">
              <input
                type="text"
                class="form-control"
                placeholder="Type your message"
                [(ngModel)]="questionData.text"
                name="newMessage"
              />
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
          </form>

          <div>{{conversationInfo.id}}</div>

        </div>
      </div>
    </div>
  </div>
</div>
