<div class="sticky">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="toggleDragMode()">
        {{ dragMode ? 'Stop dragging' : 'Start dragging' }}
      </button>

      <div class="list-group" cdkDropList [cdkDropListData]="items" (cdkDropListDropped)="onDrop($event)">
        <div class="list-group-item" cdkDrag [cdkDragDisabled]="!dragMode" *ngFor="let item of items; let i = index">
          {{ item.name }}
          <button (click)="toggleCollapse(i)">Toggle Collapse</button>
          <div *ngIf="!isCollapsed[i]">
            <div *ngIf="item.data">
              <ng-container *ngComponentOutlet="item.data"></ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
