<div>
  <form #resetForm (ngSubmit)="submitResetPassword()">
    <div class="form-group has-error pb-2">
      <label for="password" class="py-1">New Password*</label>
      <input
        required
        type="password"
        class="form-control input-line"
        id="password"
        placeholder="Ange dit lösenord"
        [(ngModel)]="data.password"
        name="password"
        #password="ngModel"
      />
      <p
        class="text-danger help-block my-2"
        *ngIf="password.errors?.['required'] && password.touched"
      >
        This Field is required
      </p>
    </div>
    <div class="form-group has-error pb-2">
      <label for="confirmPassword" class="py-1">Confirm Password*</label>
      <input
        required
        type="password"
        class="form-control input-line"
        id="confirmPassword"
        placeholder="Repetera lösenord"
        [(ngModel)]="data.confirmPassword"
        name="confirmPassword"
        #confirmPassword="ngModel"
        (ngModelChange)="checkSame($event)"
      />

      <p
        class="text-danger help-block my-2"
        *ngIf="confirmPassword.errors?.['required'] && confirmPassword.touched"
      >
        This field is required
      </p>

      <p class="text-danger help-block my-2" *ngIf="noMatchPasswords === true">
        Passwords don't match
      </p>
    </div>
    <p class="text-info" *ngIf="info">{{ info }}</p>
    <p class="text-info" *ngIf="error">{{ error }}</p>
    <button
      type="submit"
      class="btn custom-btn w-100 mt-3"
      [disabled]="
        confirmPassword.errors?.['required'] ||
        !confirmPassword.dirty ||
        noMatchPasswords
      "
    >
      Reset Password
    </button>
  </form>
</div>
